.bannerRow {
  justify-content: flex-start;
  align-items: center;
}

.bannerTxt {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnL:hover {
  color: #24303e;
  background-color: #fff;
}

.btnW:hover {
  color: #fff;
  background-color: #fd9802;
}

/* ===== serviceBanner ===== */

.serviceBanner {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
  background: url(../public/images/banners/service-bg.png);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
}

/* ===================== Media Queries ===================== */

@media screen and (min-width: 1440px) {
  .bannerTxt {
    height: auto;
    padding: 255px 0;
  }
}
