.should {
  display: flex;
  align-items: center;
}

.shouldRow{
    align-items: center;
}

.shouldImg{
    width: 90%;
}

.traficSholud .shouldImg{
  position: relative;
}

.traficSholud .shouldImg img{
  position: absolute;
  left: 0;
  top: -177px;
  z-index: -1;
}

/* ===================== Media Queries ===================== */

@media screen and (max-width: 991px) {
  .shouldRow {
    row-gap: 30px;
  }

  .shouldImg{
    width: 100%;
}
}
